.link {
  //width: 290px;
  transition-duration: 0.2s;
  &:hover {
    transform: scale(1.04);
  }
}

.item {
  text-align: center;
  padding: 10px;
  border-radius: 20px;

  .img {
    margin: 0px auto;
    width: 130px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      margin-bottom: 10px;
    }
  }

  .title {
    font-size: 30px;
    color: #fff;
  }
}

// @media (max-width: 1260px){
  
//   .link {
//     width: 250px;
//   }
// }
// @media (max-width: 1207px){
//   .link {
//     width: 270px;
//   }
// }