.sidebar {
  box-shadow:
    rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1.5px;
  padding: 20px;
  flex-shrink: 0;
  .title {
    font-size: 20px;
    font-weight: 700;
    margin-left: 40px;
    margin-bottom: 20px;
  }
  li {
    margin-top: 10px;
    a {
      color: black;
      font-size: 16px;
    }
  }
}
